<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageSources>
        <add key="Package source 1" value="/Users/sfurtisarah/work/LocalNuget" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

</configuration>
